.fon {
    width: 1440px;
    height: 1080px;
    background: grey;
    margin: auto;
    white-space: nowrap;
    overflow-x: auto;
    /*position: relative;*/

}

.box {
    width: 240px;
    display: inline-block;
    height: 90%;
    overflow-y: auto;
    border: 1px solid black;
    margin: 25px 12.5px 25px 12.5px;
    padding: 10px;
    background: gainsboro;
}
.q{
    height: 50px;
    width: 200px;
    background: cornsilk;
    margin: 10px;
    border: 5px double black;
    text-align: center;
}

.a{
    margin: 25px 12.5px 25px 25px;
}

.abs{
    position: fixed;
    background: burlywood;
    right: 0;
    height: 15%;
    width: 250px;
    overflow-y: scroll;
    font-size: larger;

}
.sp{
    list-style-type: square;
}